body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.balance,
.wallet-name {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2em;
}

.card {
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary,
.btn-primary2 {
    background-color: #007bff;
    color: #fff;
    height: 40px;
}

.btn-primary:hover,
.btn-primary2:hover {
    background-color: #0056b3;
}

.progress {
    height: 30px;
    margin-top: 10px;
}

.progress-bar {
    background-color: #30984a;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-ch {
    background-color: #007bff;
    color: #fff;
}

.btn-ch:hover {
    background-color: #0056b3;
    color: #fff;
}

.btn-danger:hover {
    background-color: #bd2130;
}

#toggleCompletedGoalsBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.8em;
}

.fixed-width-btn {
    width: 200px;
}

.toggle-button-container {
    text-align: center;
    margin-bottom: 10px;
}

.toggle-btn {
    margin-right: 10px;
}

h4 {
    text-align: center;
}

.green-b {
    background-color: #30984a;
    color: #fff;
}

.green-b:hover {
    background-color: #30984a;
    color: #fff;
}

.red-b {
    background-color: #bd5858;
    color: #fff;
}

.red-b:hover {
    background-color: #b94343;
    color: #fff;
}



